* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 992px;
  font-family: "Helvetica";
}

/* navbar */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 30px;
  height: 60px;
  width: 100%;
}

a {
  text-decoration: none;
  color: black
}

#logo {
  display: inline-block;
  line-height: 60px;
}

#img-log {
  height: 20px;
  vertical-align: middle;
}

ul {
  padding: 0;
  float: right;
}

li {
  list-style: none;
  float: left;
  margin-right: 30px;
}

li a {
  font-family: "Helvetica";
  font-size: 13px;
  font-weight: bold;
}
/* hero header */

/* products */

/* footer */
